<div class='row'>
  <div class='col-lg-4'>
    <h4>Your guess: <%= @location.weather.downcase %></h4>
    <h4>Actual weather: <%= @current_weather.downcase %></h4>
    <!-- <h4><%#= @message %></h4> -->
    <% if @location.weather.downcase == @current_weather.downcase %>
      <% @user.score = @user.score += 1 %>
      <h4>Congratulations! You were correct!</h4>
     <h4>Your score is: <%= @user.score %></h4>

     <!--  <h4>Click below to check your score!</h4> -->
      <%#= button_to 'Check Score', location_weather_path(@weather,@location), class: 'btn btn-info' %>
      <%#= link_to 'Check Score', locations_path, class: 'btn btn-info' %>
    <% else %>
      <h4>Sorry, click below to return and try to guess the weather at another location.</h4>
    <div class='well-sm'>
        <%= link_to 'Return to Location List', locations_path, class: 'btn btn-info' %>
    </div>
    <% end %>        
  </div>
</div>

